[submodule "FullScreenSuperMarioWorld/Source/References/EightBittr"]
	path = FullScreenSuperMarioWorld/Source/References/EightBittr
	url = https://github.com/FullScreenShenanigans/EightBittr.git
[submodule "FullScreenSuperMarioWorld/Source/References/GameStartr"]
	path = FullScreenSuperMarioWorld/Source/References/GameStartr
	url = https://github.com/FullScreenShenanigans/GameStartr.git
[submodule "FullScreenSuperMarioWorld/Source/References/ScenePlayr"]
	path = FullScreenSuperMarioWorld/Source/References/ScenePlayr
	url = https://github.com/FullScreenShenanigans/ScenePlayr.git
